<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member Details</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div  class="container">
    <h1>Member details</h1>
    <a th:href="@{/newMemberForm}" class="btn btn-primary btn-sm mb-3"> Add Member</a>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name</th>
            <th> Job</th>
            <th> Age</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="member : ${listMembers}">
                <td th:text = "${member.firstName}"></td>
                <td th:text = "${member.lastName}"></td>
                <td th:text = "${member.job}"></td>
                <td th:text = "${member.age}"></td>
                <td>
                    <a th:href="@{/editMemberForm/{id}(id=${member.id})}" class="btn btn-primary btn-sm mb-3"> Edit </a>
                    <a th:href="@{/deleteMember/{id}(id=${member.id})}" class="btn btn-danger btn-sm mb-3"> Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>